@charset "utf-8";
/* CSS Document */

.main{ width:980px; margin:20px auto 330px;}
.content,.sidebar{float:left;}
.content{ width:710px; margin-right:10px;}
.content .article{ padding:25px 20px 20px;  background-color:#fff; position:relative; margin-bottom:10px;}
.article h2{ font-size:16px; color:#a660b7;}
.article h3{font-size:12px; color:#666; padding-top:10px; padding-bottom:10px;}
.article p{ text-indent:2em; font-size:12px; line-height:20px;}
.article .name{ font-size:12px; color:#999; text-align:right; margin-top:57px; }
.article .tag{position:absolute; width:50px; top:20px; left:-50px;}
.tag .num{ background-color:#522a5c;}
.tag .letter{ background-color:#a660b7;}
.tag .num,.tag .letter{  height:40px; text-align:center;line-height:40px;}
.content-footer{ text-align:center;}
.content-footer ul{display:inline-block;}
.content-footer li{float:left; background-color:#fff; margin-right:10px;  padding:10px 15px;} 
.content-footer li a{ color:#000;}

.sidebar .search{background-color:#fff; text-align:center;width:260px;height:80px;line-height:80px;}
.search input{ width:169px; height:40px; border:1px solid #ddd; background:url(../images/search.png)no-repeat left;}
.search input:focus{background:none;}
.search button{ margin-left:-8px; height:42px;width:52px; background-color:#ddd; color:#fff;border:none;}

.sidebar-list{ height:200px; background-color:#ddd; margin-top:10px; padding-top:1px;}
.sidebar-list div{height:49px; margin-bottom:1px; background-color:#fff;border-left:4px solid #dfc6e6;line-height:49px;padding-left:18px;}
.sidebar-list div:hover{ border-left:4px solid #522a5c;}

.side-date{ background-color:#fff; font-size:10px; padding-top:20px; padding-bottom:25px;margin-top:10px;}
.side-date table{ margin:0 auto; border-collapse:collapse; }
.side-date table,td{ border-bottom:1px solid #eee;}
.side-date td{  padding:10px;}

.sidebar-abstract{ padding:10px 20px 35px 15px;background-color:#fff;margin-top:10px; color:#773c88;}
.sidebar-abstract div{margin-bottom:20px; color:#000;}
.sidebar-abstract span{padding-right:4px;}
.sidebar-abstract .bigger{ font-size:25px; font-weight:bold;}
.sidebar-abstract .big{font-size:20px; font-weight:bold;}

