@charset "utf-8";
/* CSS Document */
body{ background-color:#eee;}

.banner { width:100%; min-width:980px; height:525px; overflow:hidden; position:relative;}
.banner-description{width:360px; height:120px; position:absolute; right:110px; bottom:0;
    background:linear-gradient(to bottom,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%);
}
.banner-description h3{ text-align:right; padding-right:10px; line-height:40px; font-size:14px;}
.banner-description p{ font-size:12px; line-height:150%; text-indent:2em; padding-left:15px; padding-right:10px;}

.content-pic{ overflow:hidden; width:980px; margin:10px auto 0;}
.picbox { width:320px; background-color:#fff; float:left; margin-left:10px; padding-bottom:1000px; margin-bottom:-1000px;}
.picbox:first-child{margin-left:0;}
.picbox img{ width:300px; height:180px;margin:10px;}
.picbox p{ font-size:12px; line-height:170%; padding:5px 30px 25px; text-indent:2em;}


.article{ width:100%;min-width:980px; background-color:#fff; text-align:center; margin-top:110px;}
.article img{ border-radius:50%; margin-top:-50px;}
.article h3{font-size:20px; padding-top:50px;}
.article p{ width:600px; margin:0 auto; padding-top:40px; padding-bottom:190px; text-indent: 2em; text-align: left;}